@import './variables';
@import './mixins';

body {
    font-family: 'Space Grotesk', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(var(--text-primary-color));
    background: rgb(var(--bgc-primary));
    min-height: 100vh;
    &.locale-ru {
        font-family: 'Fira Sans', Arial, sans-serif;
    }
}

#app {
    min-height: 100vh;
}

.content-wrap {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

:root {
  --bgc-primary: 251, 251, 253;
  --bgc-secondary: 255, 255, 255;
  --bs-primary: 0, 0, 0;
  --border-primary-color: 50, 50, 50;
  --text-primary-color: 35, 31, 32;
  --text-inverted-color: 255, 255, 255;
  --theme-primary-color: 246, 121, 82;
}

:root.dark-theme {
  --bgc-primary: 30, 30, 30;
  --bgc-secondary: 20, 20, 20;
  --bs-primary: 255, 255, 255;
  --border-primary-color: 230, 230, 230;
  --text-primary-color: 221, 221, 221;
  --text-inverted-color: 15, 15, 15;
  --theme-primary-color: 0, 143, 48;
}

* {
    box-sizing: border-box;
}

h1, .h1 {
    font-size: 50px;
    line-height: 64px;
    @include malg {
        font-size: 40px;
        line-height: 1.2;
    }
    @include masm {
        font-size: 32px;
    }
    @include maxs {
        font-size: 24px;
    }
}

h2, .h2 {
    font-size: 34px;
    line-height: 43px;
    margin: 0 0 40px;
    @include malg {
        font-size: 28px;
        line-height: 1.2;
    }
    @include masm {
        font-size: 22px;
    }
    @include maxs {
        font-size: 16px;
    }
}

h3, .h3 {
    font-size: 30px;
    line-height: 38px;
    @include malg {
        font-size: 24px;
        line-height: 1.2;
    }
    @include masm {
        font-size: 22px;
    }
}

h4, .h4 {
    font-size: 24px;
    line-height: 20px;
    font-weight: 500;
    @include malg {
        font-size: 20px;
        line-height: 1;
    }
    @include masm {
        font-size: 18px;
    }
}

h5, .h5 {
    font-size: 16px;
    @include masm {
        font-size: 14px;
    }
}

h6, .h6 {
    font-size: 14px;
    @include masm {
        font-size: 12px;
    }
}

p {
    margin: 0 0 5px;
}

.round-bordered {
    border: 1px solid rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    padding: 30px;
    @include masm {
        padding: 10px;

    }
}

.button {
    display: block;
    padding: 20px;
    border: 1px solid transparent;
    background: rgba(var(--theme-primary-color), .9);
    border-radius: 133px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: $trans;
    @include masm {
        padding: 15px;
        border-radius: 120px;
    }
    @include maxs {
        padding: 12px;
        border-radius: 100px;
    }
    &:hover {
        filter: drop-shadow(0px 0px 8px rgba(246, 121, 82, 0.25));
    }
    &:focus {
        filter: drop-shadow(0px 0px 7px rgba(246, 121, 82, 0.3));
    }
}

.icon { 
    width: 50px; 
    height: 50px;
  }

  

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}